<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="style.css">
<title> Welcome-Courses Management </title>
</head>
<body>
  <body>
    <div class="continue-page">
      <div class="form">
        <div class="success_login">
          <div class="continue-header">
            <h3>Logged in successfully</h3>
          </div>
        </div>
          <p class="message"> <a href="/courses">Enter to Courses List</a></p>
      </div>
    </div>
</body>
</body>
</html>